In [1]:
import pandas as pd
path = 'C:\\Users\\russi\\Documents\\names'

In [2]:
def count_top3(*year):
    all_period_info = []
    for item in year:
        df = pd.read_csv(path+f'\\yob{item}.txt', names = ['Names', 'Gender', 'Count'], encoding='utf8')
        all_period_info.append(df)
    new_df = pd.concat(all_period_info)
    new_df.reset_index(inplace=True)
    top_3 = new_df.groupby(['Names']).sum()[['Count']].sort_values('Count', ascending=False).head(3)
    return [item for item in top_3.index]

In [3]:
count_top3(1900, 1950, 2000)

['James', 'John', 'Robert']

In [4]:
def quantity_of_names_dynamics(*year):
    all_period_info = []
    for item in year:
        df = pd.read_csv(path+f'\\yob{item}.txt', names = ['Names', 'Gender', 'Count'], encoding='utf8')
        df['Year'] = item
        all_period_info.append(df)
    new_df = pd.concat(all_period_info)
    info = new_df.groupby(['Gender', 'Year']).sum()
    return info

In [5]:
quantity_of_names_dynamics(1900, 1950, 2000)

               Count
Gender Year
F      1900   299798
       1950  1713065
       2000  1815295
M      1900   150480
       1950  1790437
       2000  1963202